_site/
node_modules/
support_files/
/static/img-to-be-added
.DS_Store
/pages/history.md
/pages/bands-seen.md
/pages/books-read.md
/pages/films-seen.md
/pages/timeline-by-year.md
/pages/timeline-titles-only.md
/pages/timeline-unpaginated.md
/timeline/we-opened-for-the-silos-1987.md
/timeline/all-night-movers-played-the-hi-ho-with-the-bangs.md
/timeline/talbot-quit-jan-24-2003.md
/timeline/went-to-red-barn-late-july-1998.md
/timeline/red-barn-jul-1998.md
# Local Netlify folder
.netlify
.cache