---
permalink: /sitemap-main.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>{{ metadata.url }}/</loc><changefreq>daily</changefreq></url>
  <url><loc>{{ metadata.url }}/paintings/</loc><changefreq>monthly</changefreq></url>
  <url><loc>{{ metadata.url }}/illustrations/</loc><changefreq>monthly</changefreq></url>
  <url><loc>{{ metadata.url }}/designs/</loc><changefreq>monthly</changefreq></url>
  <url><loc>{{ metadata.url }}/animations/</loc><changefreq>monthly</changefreq></url>
  <url><loc>{{ metadata.url }}/order-form/</loc><changefreq>monthly</changefreq></url>
  <url><loc>{{ metadata.url }}/rock/</loc><changefreq>monthly</changefreq></url>
  <url><loc>{{ metadata.url }}/resume/</loc><changefreq>monthly</changefreq></url>
  <url><loc>{{ metadata.url }}/web/</loc><changefreq>monthly</changefreq></url>
  <url><loc>{{ metadata.url }}/notes/</loc><changefreq>daily</changefreq></url>
  <url><loc>{{ metadata.url }}/things-i-like/</loc><changefreq>weekly</changefreq></url>
  <url><loc>{{ metadata.url }}/timeline/</loc><changefreq>weekly</changefreq></url>
  <url><loc>{{ metadata.url }}/tagslist/</loc><changefreq>weekly</changefreq></url>
  <url><loc>{{ metadata.url }}/about/</loc><changefreq>monthly</changefreq></url>
  <url><loc>{{ metadata.url }}/press/</loc><changefreq>monthly</changefreq></url>
  <url><loc>{{ metadata.url }}/contact/</loc><changefreq>monthly</changefreq></url>
</urlset>
