---
pagination:
  data: collections
  size: 1
  alias: tag
  addAllPagesToCollections: true
  filter:
    - all
    - nav
    - post
    - things i like
permalink: /tags/{{ tag | slugify }}/
layout: layouts/base-with-wide-container.njk
eleventyComputed:
  title: Tagged “{{ tag }}”

---

<h1>Posts that mention {{ tag }}.</h1>

{% set postslist = collections[ tag ] %}

{% include "components/tagslist-short.njk" %}

<div class="latest-post-article">
  <nav>
    <a href="/timeline/{{ url }}">← Journal index</a>
  </nav>
</div>
<div class="container">
{% include "components/buttondown.njk" %}
</div>