---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
permalink: /tags/{{ tag | slug }}/
layout: layouts/base.njk
renderData:
  title: {{ tag }}
---

<h1>{{ tag }}</h1>

{% set postslist = collections[ tag ] %}
{% include "components/tagslist.njk" %}

<nav>
  <a href="{{ '/timeline/' | url }}">← Timeline index</a>
</nav>
