@font-face {
    font-family: "NoticiaText-Regular";
    src: url('/static/webfonts/NoticiaText--Regular/NoticiaText-Regular.woff') format('woff'),
	url('/static/webfonts/NoticiaText-Regular/NoticiaText-Regular.woff2') format('woff2'),
	url('/static/webfonts/NoticiaText-Regular/NoticiaText-Regular.svg#NoticiaText-Regular') format('svg'),
	url('/static/webfonts/NoticiaText-Regular/NoticiaText-Regular.eot'),
	url('/static/webfonts/NoticiaText-Regular/NoticiaText-Regular.eot?#iefix') format('embedded-opentype'),
	url('/static/webfonts/NoticiaText-Regular/NoticiaText-Regular.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}