@media screen and (min-width:960px) {
  #bricks {
    margin-top: 6em;
  }

  #bricks ol li,   #bricks ul li  {
      margin: .2em;
      display: inline-block;
      position: relative;
      counter-increment: inst;
      height: 260px;
      width: 260px;
      overflow:hidden;
  }
}