#bricks ol,
#bricks ul {
  padding: 0;
}

#bricks ol li,
#bricks ul li {
  counter-increment: inst;
  display: inline-block;
  margin: 0.2em auto;
  padding: 0;
  position: relative;
  list-style: none;
  outline: 4px dotted yellowgreen;
}

.container-wide {
  margin: 0 auto;
}

@media screen and (width >=960px) {
  #bricks ol li,
  #bricks ul li {
    margin: 0.2em;
    height: 260px;
    width: 260px;
    overflow: hidden;
  }

  .margin-top-3em {
    margin-top: 0;
  }
}
