html,
body {
  height: 100%;
}

body > footer {
  bottom: 0;
  position: fixed;
  z-index: 3;
}

body > header {
  grid-area: header;
}

body > main {
  grid-area: main;
  overflow: auto;
  padding-top: 100px;
  padding-bottom: 150px;
}

body > footer {
  grid-area: footer;
}

body > header {
  display: flex;
  background: var(--white);
  border-bottom: 1px solid #efefef;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  width: 100vw;
  z-index: 3;
}
