html,
body {
  height: 100%;
}

body > footer {
  position: sticky;
  top: 100vh;
}

#app {
  /* grid container settings */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

#app > header {
  grid-area: header;
}

#app > main {
  grid-area: main;
  overflow: auto;
  padding-top: 100px;
}

#app > footer {
  grid-area: footer;
}

body > header {
  display: flex;
  background: var(--white);
  border-bottom: 1px solid #efefef;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  width: 100vw;
  z-index: 3;
}
