html, body { height: 100%;}

body > footer {
  position: sticky;
  top: 100vh;
}

#app {
  /* grid container settings */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    'header'
    'main'
    'footer';
}

#app > header {
  grid-area: header;
}

#app > main {
  grid-area: main;
  overflow: auto;
}

#app > footer {
  grid-area: footer;
}

header {
  display: flex;
  background: var(--white);
  border-bottom: 1px solid #efefef;
  flex-wrap: wrap;
  position: fixed;
  width: 100vw;
  z-index: 3;
}