:root {
	--black: black;
	--white: #ffffff;
	--blue: #7bb4fb;
	--darkblue: #3E517A;
	--magenta: magenta;
	--orangered: orangered;
	--gray: rgba(0, 0, 0, .5);

	--font-primary: 'Source Serif Pro', serif;
	--font-secondary: 'Libre Franklin', Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	--font-decorative: "ShadowGrotesque", sans-serif ;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.clear {
	clear: both;
}

.hidden {
	display: none;
	display: flex;
}

.float-left {
	float: left;
	height: 32px;
	width: 32px;
	overflow: hidden;
}

.inline-block {
	display: inline-block;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: var(--font-primary);
}

body {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	background-color: var(--white);
}

h1 {
	font-family: var(--font-secondary);
	font-weight: 700;
}

h2 {
	font-family: var(--font-secondary);
	font-weight: 200;
}

h3 {
	clear: both;
	font-family: var(--font-secondary);	
	font-size: 2em;
}

header {
  display: flex;
  background: var(--white);
  border-bottom: 1px solid #efefef;
  flex-wrap: wrap;
  position: fixed;
  width: 100vw;
  z-index: 2;
}

header .flex-container {
	flex-basis: 100%;
	flex-shrink: 0;
}

header nav {
  display: none;
}

header nav.is-active {
  display: block;
}

.container {
	margin-top: 4em;
	width: 100vw;
}

.full-width {
	background: black;
	color: white;
	margin-top: 6em;
	width: 100vw;
}

p,
pre,
code {
	line-height: 1.5;
}

a[href],
a[href]:visited {
	color: var(--blue);
	transition: color 0.3s ease;
}

a[href]:hover,
a[href]:active {
	color: var(--orangered);
}

a[href]:not(:hover) {
	text-decoration: none;
}

a.main-link[href],
a.main-link[href]:visited {
	color: black;
	font-family: var(--font-decorative);
	font-size: 2em;
	text-decoration: none;
	transition: color 0.3s ease;
}

a.main-link[href]:hover,
a.main-link[href]:active {
	color: var(--orangered);
}

nav ul li a.main-link[href],
a.main-link[href]:visited {
	color: black;
	font-family: "ShadowGrotesque", sans-serif, "Avenir";
	font-size: 2em;
	text-decoration: none;
	transition: color 0.3s ease;
}

header,
main,
footer {
	padding: 1em;
}

footer {
	background: var(--white);
	clear: both;
	margin: 0 auto;
	width: 100%;
}

footer .search-box-container{
	margin-top: .5em;
	width: 100%;
}

figcaption {
	font-size: .9em;
    transform: translateY(-2em);
    color: lightgray;
}

small {
	font-size: .7em;
}

.container-wide {
	margin: 0 1em;
}

.disabled {
	color: lightgray;
}

.pagination {
	list-style: none;
	margin: .5 em 0 0 0;
	padding: 0;
}

.pagination li {
	display: inline-block;
	float: left;
	padding: 0 .5em 0 0;
}

.page-numbers {
	display: block;
	margin: .5em 0;
}

main {
	padding-bottom: 2em;
}

.timeline main {
	padding-bottom: 0;
}

/* Header Nav */
header nav ul {
	padding: 0;
	list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1px 1px;
    grid-template-areas:
        ". . ."
        ". . ."
        ". . ."
        ". . ."
        ". . .";
    grid-auto-flow: column;
    width: 100vw;
}

header nav li {
	display: block;
	margin: 1em 0;
}

header nav li a {
	font-family: var(--font-primary);
	font-size: .9em;
}

header nav li a[href]:not(:hover) {
	text-decoration: none;
}

header nav li a[data-current="current item"] {
	font-weight: 700;
	text-decoration: underline;
}

.mobile-menu {
	display: flex;
	float: right;
	padding: 6px 0;
}

.gcse-search {
	display: inline-block;
}

.home {
	background: var(--blue);
	overflow-x: hidden;
}

.home .footnote {
	font-size: .75rem;
	margin-bottom: 2rem;
}

.self-portrait {
	border-radius: 2em; 
	height: auto; 
	width: 100%;
}

/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;
	border-bottom: 1px solid var(--white);
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

main img {
	max-width:  1000px;
	width: 100% /* this is temporary by design */;
	margin: 1em 0;
}

main img.thumbnail {
	width: 280px;
}

a.tiny-thumbnail {
	display: block;
	height: 64px;
	position: relative;
	width: 64px;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  	text-transform: uppercase;
	letter-spacing: .1em;
  	font-size: .625em;
  	padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  	border: 1px solid var(--white);
	background-color: var(--white);
	color: var(--blue);
  	border-radius: .25em;
  	text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--blue);
	background-color: var(--blue);
	color: var(--white);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact Form */
form {
  	display: grid;
	padding: 2em 0;
}

form.gsc-search-box {
	padding: 0;
}

.gsc-control-cse {
    padding: 0 !important; 
}

form label {
  display: none;
}

input,
textarea,
button {
  	width: 100%;
  	padding: 1em;
  	margin-bottom: 1em;
	font-size: 1rem;
	font-family: var(--font-secondary), sans-serif;
}

input,
textarea {
	border: 1px solid black;
}

button, .button {
	border: 1px solid var(--blue);
	background-color: var(--blue);
	color: var(--white);
	cursor: pointer;
}

footer small {
	display: block; /* for line-height reasons! */
	font-size: .7em;
	text-transform: uppercase;
}

.about img {
	width: 100%;
}

.tiny-thumbnail img {
	min-height: 64px;
	width: auto;
}

ol {
  clear: both;
  list-style: none;
  padding: 0;
}

ol li {
  margin: 2em 0;
  display: block;
  position: relative;
  counter-increment: inst;
}

ol li::before {
  content: counter(inst);
  color: var(--white);
  font-weight: 700;
  font-size: 1.5em;
  text-align: center;
  padding-top: 0;
  padding-left: 2.25%;
  left: 0;
  top: .5em;
  height: 2em;
  width: 2em;
  position: absolute;
  transition: all 0.2s ease-in-out;
  z-index: 2;
}

/******* HOME *******/

.home main {
	background: var(--blue);
	position: relative;
    margin: 0 auto;
    width: 100%;
}

.home main p img {
  	width: 100%;
}

.home .intro-home {
	font-size: 1.5rem;
	text-align: left;
	display: block;
}

.home .intro-home p {
	line-height: 1.25;
}

.home .intro-home a {
	color: white;
}

/******* ANIMATIONS *******/

.animations article {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-areas: "text image";
}

/******* END ANIMATIONS *******/

.postslist h3 {
	margin-top: 0;
}

p.postdate h3 {
	margin-bottom: 0;
}

.text {
	grid-area: text;
}

.image {
	grid-area: image;
}

.polaroid, main .polaroid:first-child , main > article .polaroid:first-child {
	background: var(--white);
	padding: 1em;
	margin-bottom: 1em;
}

/******* BEGIN PHOTO-TIMELINE *******/

.photo-timeline {
	flex-wrap: wrap;
	margin: 1em auto;
}

.photo-timeline-link {
	display: inline-block; 
	height: 32px;
	margin: 6px 8px 0 0;
	overflow: hidden;
	width: 32px;
}

.photo-timeline-link:nth-of-type(odd) {
	background-color: var(--orangered);
}

.photo-timeline-link:nth-of-type(even) {
	background-color: var(--blue);
}

.post-year {
    display: inline-block;
    padding: 0;
    width: 40px;
    font-size: .75em;
}

#timeline-detail {
	display: none;
}

.animation-demo {
	overflow-x: hidden;
}

.banner-container {
	display: flex;
	padding: 1em 0;
	justify-content: center;
}

.banner-container div {
	margin: 1em auto;
}

.banner-container iframe {
	margin: 0 .5em;
}

.word-scrolling {
	color: yellow;
	font-family: 'Ultra', sans-serif;
	font-size: 40vh;
	text-align: center;
}

#scrolling-car {
	height: auto;
	width: 15vw;
}

span.fade {
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

span.fade:hover {
	opacity: 1;
}

/******* END PHOTO-TIMELINE *******/

.newspaper {
	background: url(/static/img/timeline/paper-light.jpg) center center no-repeat;
	background-size: cover;
	font-family: "Times New Roman", serif;
	padding: 3em;
}

.tech {
	color: var(--gray);
	font-size: .8rem;
}

@media screen and (min-width:960px) {
	:root {
		font-size: 1.1rem;
	}

	.container {
		margin-top: 6em;
		margin-left: auto;
		margin-right: auto;
		width: 75%;
	}

	.home .container {
		width: 100%;
	}

	.container-wide {
		margin-left: auto;
		margin-right: auto;
		width: 90vw;
	}

	.timeline .container-wide {
		border-top:  1px solid #efefef;
		margin-top:  2em;
	}

	.flex {
		display: flex;
	}

	.flex-wrap {
		flex-wrap: wrap;
	}

	.align-items-center {
		align-items: center;
	}

	.row-reverse {
		flex-direction: row-reverse;
	}

	.space-around { 
		justify-content: space-around; 
	}

	.space-between { 
		justify-content: space-between; 
	}

	.left {
		margin-right: 1em;
	}

	.summary, .image {
		flex-basis: 50%;
	}

	.gsc-control-cse {
	    padding-top: .3em !important;
	}

	header nav li {
		display: block;
		margin: 0;
		padding: 1em 0 1em 10vw;
	}

	header nav li a {
		font-family: var(--font-primary);
		font-size: 1.1em;
	}

	footer {
		background: var(--white);
	    width: 100vw;
	    padding: 2em;
	}

	footer.home {
	    width: 100%;
	    padding: 0;
	}

	footer .search-box-container {
		margin-top: .5em;
		width: 40vw;
	}

	.home main {
	    overflow: visible;
	}

	.grid-home {
	  display: grid;
	  grid-template-columns: repeat(3, 1fr);
	  grid-template-rows: repeat(3, 1fr);
	  gap: 2em 2em;
	  grid-template-areas:
	    ". . ."
	    ". . ."
	    ". . .";
	}

	.home .intro-home {
		display: flex;
		font-size: 2em;
		height: 75vh;
		margin-bottom: 5rem;
		position: relative; 
	}

	.home .footnote {
		font-size: 1rem;
		margin-top: 10vh;
	}

	.home .footnote a {
		color: white;
	}

	.home .intro-home p {
		line-height: 1.5;
	}

	.chevron {
	    margin-top: 20px;
	    display: block;
	    -webkit-animation: pulse 2s infinite;
	    animation: pulse 2s infinite;
	    color: var(--orangered);
	}

	.chevron::before {
	    border-style: solid;
	    border-width: 0.25em 0.25em 0 0;
	    content: '';
	    display: inline-block;
	    height: 20px;
	    position: relative;
	    -webkit-transform: rotate(135deg);
	    -ms-transform: rotate(135deg);
	    transform: rotate(135deg);
	    vertical-align: top;
	    width: 20px;
	}

	@keyframes pulse {
	  0% {
	    -webkit-transform: translate(0, 0);
	            transform: translate(0, 0); 
	  }
	  50% {
	    -webkit-transform: translate(0, 10px);
	            transform: translate(0, 10px); 
	  }
	  100% {
	    -webkit-transform: translate(0, 0);
	            transform: translate(0, 0); } 
	  }

	.page-numbers {
		display: inline;
	}

	.page__sketchbook .container {
		width: 100%;
	}

	.page__sketchbook .container main p {
		display: grid;
  		grid-template-columns: repeat(4, 1fr);
  		grid-template-rows: 1fr;
  		gap: 0 0;
  		place-items: center;
	}

	.page__sketchbook .container main img {
		margin: 0 auto;
		max-height: 300px;
		max-width: 100%;
		width: auto;
	}

	.page__sketchbook .container main p br {
		display: none;
	}

	.photo-timeline-link {
		display: inline-block; 
		height: 64px;
		margin: 0;
		overflow: hidden;
		width: 64px;
	}

	.post-year {
		display: inline-block;
		padding: .5em;
		width: 64px;
	}

	.self-portrait {
		border-radius: 2em; 
		height: auto; 
		width: auto;
	}

	#timeline-detail {
		background: var(--white);
		display: flex;
		margin: 1em auto;
		padding:  1em;
		position: sticky;
    top: 60px;
    z-index: 10;
	}

		#timeline-detail h3 {
			margin: 0;
		}

	#timeline-detail .summary {
		margin-left: 1rem;
	}

	#timeline-detail .thumbnail-container {
		height: 160px;
		overflow: hidden;
		position: relative;
		width: 160px;
	}
}

@media screen and (min-width:1200px) {
	:root {
		font-size: 1.1rem;
	}

	.container {
		margin-left: auto;
		margin-right: auto;
		width: 60%;
	}

	.home main p img {
		height: 660px;
	  	width: 660px;
	}

}