/*
      CSS-Tricks Example
      by Chris Coyier
      http://css-tricks.com
*/
.jqmWindow a.jqmClose {
    font: bold 18px Helvetica;
}

/* jqModal base Styling courtesy of;
     Brice Burgess <bhb@iceburg.net> */

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
     the Window's z-index value will be set to 3000 by default (via jqModal.js). */

.jqmWindow {
    display: none;
    position: fixed;
    top: 2%;
    left: 50%;
    margin-left: -40%;
    width: 80%;
    background-color: white;
    color: #333;
    border: 1px solid black;
    padding: 2em;
}

.jqmOverlay {
    background-color: #000;
    opacity: 0.5;
}

.jqmWindow .embeddable-buttondown-form input {
     border: 1px solid #eee;
}

.jqmWindow .embeddable-buttondown-form input[type=submit] {
     background-color: orangered;
     border: 0px solid black;
     color: white;
     font-weight: 900;
}


@keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}