.inline-block {
	display: inline-block;
}

.post-year {
	display: inline-block;
	padding: .5em;
	width: 64px;
}

.photo-timeline {
	flex-wrap: wrap;
	margin: 1em auto;
	width: 90vw;
}

.photo-timeline-link {
	display: inline-block; 
	height: 32px;
	overflow: hidden;
	width: 32px;
}

.photo-timeline-link:nth-of-type(odd) {
	background-color: var(--orangered);
}

.photo-timeline-link:nth-of-type(even) {
	background-color: var(--blue);
}

#timeline-detail {
	height: 2em;
	margin: 1em auto;
	width: 90vw;
}