.polaroid,
main .polaroid:first-child,
main > article .polaroid:first-child {
  /*  background: var(--white);
  padding: 1em;
  margin-bottom: 1em; */
}

.polaroid.animations {
  background: url("/static/img/animations/160628_waver_600.gif") center center
    no-repeat;
}

.polaroid.designs {
  background: url("/static/img/designs/TalbotAdamsAlbum.jpg") center center
    no-repeat;
}

.polaroid.forsale {
  background: url("/static/img/designs/Bottle-CapTeeTurquoise.jpg") center
    center no-repeat;
}

.polaroid.illustrations {
  background: url("/static/img/illustrations/harbo.jpg") center center no-repeat;
}

.polaroid.paintings {
  background: url("/static/img/paintings/organicform5-chromeyellow-sq.jpg")
    center center no-repeat;
}

.polaroid.rock {
  background: url("/static/img/rock/all-night-movers/all-night-movers-dave-jul-27-2002.jpg")
    center center no-repeat;
}

.polaroid.sketchbook {
  background: url("/static/img/sketchbook/aah-guy.jpg") center center no-repeat;
}

.polaroid.timeline {
  background: url("/static/img/paintings/bigface_sq.jpg") center center
    no-repeat;
}

.polaroid.web {
  background: url("/static/img/web/edison.jpg") center center no-repeat;
}

.polaroid {
  background-size: cover;
  display: grid;
  place-content: center center;
  padding: 12em 0;
}

.polaroid div {
  background: white;
  padding: 1em;
  margin: 0 auto;
  width: 90%;
}

.polaroid.paintings {
  margin: 0 auto;
  width: 50%;
}
