#timeline-list a[href],
#timeline-list a[href]:visited {
  color: var(--blue);
  transition: all 0.3s ease;
}

#timeline-list a[href]:hover,
#timeline-list a[href]:active {
  color: var(--orangered);
  text-decoration: none;
}

/* Hide timeline-detail on mobile */
#timeline-detail {
  display: none;
}

@media screen and (width >=960px) {
  #text-timeline {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "timeline-list"
      "timeline-detail";
  }

  #timeline-detail {
    display: block;
    grid-area: timeline-detail;
    height: auto;
    margin: 0 auto;
    padding: 1em;
    position: fixed;
    right: 2em;
    top: 10em;
    width: 45%;
  }

  #timeline-detail .thumbnail-container {
    align-items: center;
    display: flex;
    grid-area: thumbnail-container;
    justify-content: center;
  }

  #timeline-detail .thumbnail-container a {
    display: block;
    line-height: 0;
  }

  #timeline-detail .thumbnail-container img {
    display: block;
    height: 500px;
    margin: 0 auto;
    max-width: 100%;
    object-fit: contain;
  }

  #timeline-detail .summary {
    margin-left: 1em;
    grid-area: summary;
  }

  #timeline-list {
    grid-area: timeline-list;
  }
}
