.timeline .container-wide {
  margin: 0;
  width: 90vw;
}

.grid-container, .text-timeline {
  display: grid;
  margin-top: 0;
}

.text-timeline-link a {
  color: var(--black);
}

.text-timeline.flex {
  flex-wrap: wrap;
}

.text-timeline .post-year {
  color:  white;
  background-color: var(--blue);
}

.text-timeline-link {
  padding:  .25em .5em;
}

.text-timeline-link a, .text-timeline-link a[href]:visited {
  color: var(--black);
}

.year {
  margin-top: 20px;
  outline: 2px solid #eeeeee;
  position: relative;
}

@media screen and (min-width:960px) {

  .timeline .container-wide {
    border-top:  1px solid #efefef;
    margin-top:  7em;
    width: auto;
  }

  .grid-container, .text-timeline {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    overflow-x: auto;
    margin-top: 130px;
    max-height: calc(100vh - 400px);
  }


  #timeline-detail {
    background: var(--white);
    display: flex;
    height: 200px;
    margin: 1em auto;
    padding: 1em;
    position: fixed;
    left: 0;
    top: 45px;
    width: 100%;
    z-index: 10;
  }

  #timeline-detail h3 {
    margin: 0;
    max-width: 1000px;
  }

  #timeline-detail .summary {
    margin-left: 1rem;
  }

  #timeline-detail .thumbnail-container {
    height: 160px;
    overflow: hidden;
    position: relative;
    text-align:center;
    width: 320px;
  }

  #timeline-detail .thumbnail-container a img {
    max-height: 160px;
    max-width: 320px;
  }

  .grid-item {
    height: min-content;
    max-height: calc(100vh - 400px);
    width: fit-content;
    min-width: 250px;
    max-width: 1000px;
  }

  .year {
    height: min-content;
    width: fit-content;
    min-width: 250px;
    max-width: 1000px;
  }

}

