<footer>
  <small>
    Site contents &copy; David Rhoden.
  	Web portfolio contents are &copy; and &trade; their respective owners.<br>
  	Designed and developed in Holy Cross, Lower Ninth Ward, New Orleans, Louisiana by David Rhoden.<br>
  	<a href="https://www.buymeacoffee.com/davidrhoden" target="_blank">Buy me a coffee, if you like.</a>
  </small>
  <div class="search-box-container">
    <div class="gcse-search"></div>
  </div>
</footer>

<footer class="home">
	Paintings, illustrations, animations, pointless scribbles, rude jokes, guitar playing and shouting, random observations, et cetera. Currently based in New Orleans, Louisiana.
</footer>

<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-8793128-1', 'auto');
ga('require', 'eventTracker');
ga('require', 'outboundLinkTracker');
ga('require', 'maxScrollTracker');
ga('send', 'pageview');
</script>
<script async src="https://www.google-analytics.com/analytics.js"></script>