<footer>
  <small>
    Site contents &copy; David Rhoden.
	Web portfolio contents are &copy; and &trade; their respective owners.<br>
	Designed and developed in Holy Cross, Lower Ninth Ward, New Orleans, Louisiana by David Rhoden.
  </small>
</footer>
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-8793128-1', 'auto');
ga('require', 'eventTracker');
ga('require', 'outboundLinkTracker');
ga('require', 'maxScrollTracker');
ga('send', 'pageview');
</script>
<script async src="https://www.google-analytics.com/analytics.js"></script>
<script async src="/assets/js/autotrack.js"></script>