<footer>
  <small>
    Site contents &copy; David Rhoden.
  	Web portfolio contents are &copy; and &trade; their respective owners.<br>
  	Designed and developed in Holy Cross, Lower Ninth Ward, New Orleans, Louisiana by David Rhoden.<br>
    Follow me on <a href="https://www.facebook.com/davidrhoden">Facebook.</a> <a href="https://www.instagram.com/thedavidrhoden/" target="_blank">Instagram.</a> <a href="https://www.linkedin.com/in/davidrhoden/" target="_blank">LinkedIn.</a> <a href="https://www.twitter.com/davidrhoden/" target="_blank">Twitter.</a>
    <a href="https://buttondown.email/davidrhoden" target="_blank">Get on my mailing list.</a>
  	<a href="https://www.buymeacoffee.com/davidrhoden" target="_blank">Buy me a coffee, if you like.</a>
  </small>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-W9C83ZVJFN');
  </script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-W9C83ZVJFN"></script>
</footer>