<div class="mail-signup-container">
  <button class="mail-signup-close" aria-label="Close mailing list signup">
    <svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
      <circle cx="12" cy="12" r="12" fill="#fff"/>
      <g fill="currentColor">
        <path d="M5.636,2.808l15.556,15.556l-2.828,2.828l-15.556,-15.556l2.828,-2.828Z"/>
        <path d="M2.808,18.364l15.556,-15.556l2.828,2.828l-15.556,15.556l-2.828,-2.828Z"/>
      </g>
    </svg>
  </button>
  <div class="mail-signup-border">
    <svg class="dotted-border-svg" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
      <rect class="dotted-rect-a" x="0" y="0" width="100%" height="100%" fill="none" stroke-width="4" stroke-linecap="round" stroke-dasharray="0.001 16" stroke-dashoffset="0"/>
      <rect class="dotted-rect-b" x="0" y="0" width="100%" height="100%" fill="none" stroke-width="4" stroke-linecap="round" stroke-dasharray="0.001 16" stroke-dashoffset="8"/>
    </svg>
    {% include "components/buttondown.njk" %}
  </div>
</div>
