<div class="mail-signup-container">
  <button class="mail-signup-close" aria-label="Close mailing list signup">×</button>
  <div class="mail-signup-border">
    <svg class="dotted-border-svg" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
      <rect class="dotted-rect-a" x="0" y="0" width="100%" height="100%" fill="none" stroke-width="4" stroke-linecap="round" stroke-dasharray="0.001 16" stroke-dashoffset="0"/>
      <rect class="dotted-rect-b" x="0" y="0" width="100%" height="100%" fill="none" stroke-width="4" stroke-linecap="round" stroke-dasharray="0.001 16" stroke-dashoffset="8"/>
    </svg>
    {% include "components/buttondown.njk" %}
  </div>
</div>
