<div class="modal micromodal-slide" id="modal-mailing-list" aria-hidden="true">
  <div class="modal__overlay modal__overlay--centered" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-mailing-list-title">

      <header class="modal__header">
        <span class="modal__title" id="modal-mailing-list-title">Get on the list</span>
        <button class="modal__btn modal__btn-close" data-micromodal-close aria-label="Close mailing list signup">
          <svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
            <rect x="0" y="0" width="24" height="24" style="fill:#fff;"/>
            <g fill="currentColor">
              <path d="M5.636,2.808l15.556,15.556l-2.828,2.828l-15.556,-15.556l2.828,-2.828Z"/>
              <path d="M2.808,18.364l15.556,-15.556l2.828,2.828l-15.556,15.556l-2.828,-2.828Z"/>
            </g>
          </svg>
        </button>
      </header>

      <main class="modal__content" id="modal-mailing-list-content">
        {% include "components/buttondown.njk" %}
      </main>

    </div>
  </div>
</div>
