<nav>
  <ul>
  {%- for section in navigation %}
    {%- if section.heading %}
    <li class="menu-header">{{ section.heading }}</li>
    {%- endif %}
    {%- for link in section.links %}
    <li>
      <a href="{{ link.url }}"{% if link.tooltip %} data-tooltip="{{ link.tooltip }}"{% endif %}{% if link.external %} target="_blank" rel="noopener noreferrer"{% endif %}>{{ link.title }}</a>
    </li>
    {%- endfor %}
  {%- endfor %}
  </ul>
</nav>