<nav>
  <div class="nav-columns">
  {%- for section in navigation %}
    <div class="nav-column">
      <ul>
      {%- if section.heading %}
        <li class="menu-header">{{ section.heading }}</li>
      {%- endif %}
      {%- for link in section.links %}
        <li>
          <a href="{{ link.url }}"{% if link.external %} target="_blank" rel="noopener"{% endif %}>{{ link.title }}</a>
        </li>
      {%- endfor %}
      </ul>
    </div>
  {%- endfor %}
  </div>
</nav>