<section class="postslist tagslist grid-4-across data-pagefind-ignore">
    {% set showYear = true %}
    {% set currentYear = "" %}
    {% for post in postslist %}

      {% if showYear %}
        {% set postYear = "" %}
        {% if currentYear != postYear %}
          {% if currentYear != "" %}
            </div> <!-- END YEAR -->
          {% endif %}
          {% set currentYear = postYear %}
          <div class="year">
            <p class="post-year">year: {{ postYear }}</p>
       {% endif %}
      {% endif %}
        <div class="grid-square-4-across">
          <a href="{{ post.url }}" style="display: block;">
        </style>

          {% if post.data.image %}
              <span class="tagslist-image-container">
              <img class="thumbnail" src="{{ post.data.image }}?nf_resize=smartcrop&w=340&h=340">
              </span>
              {%  else %}
              <span style="height: 240px;">
              </span>
          {% endif %}

          <div style="background: white; padding: 4px; width: 100%;">
            <time datetime="{{ post.date | machineDate }}">
              <small>{{ post.date | readableDate }}</small>
            </time><br>
            <div style="font-size: .75rem">
              <b>{{ post.data.title }}</b>
              {% if post.data.summary %}
                  {{ post.data.summary }}
              {% endif %}
            </div>
          </div>

            {{ layoutContent | safe }}
            </a>
        </div>
      {% endfor %}
</section>