<section class="tagslist-flat" data-pagefind-ignore>
  {% for post in postslist | reverse %}
    <article class="tagslist-flat-entry">
      <div class="tagslist-flat-image">
        {% if post.data.image %}
          <a href="{{ post.url }}" tabindex="-1" aria-hidden="true">
            <img src="{{ post.data.image }}?nf_resize=fit&w=200" alt="">
          </a>
        {% endif %}
      </div>
      <p class="tagslist-flat-date"><time datetime="{{ post.date | machineDate }}">{{ post.date | readableDate }}</time></p>
      <div class="tagslist-flat-content">
        <p class="tagslist-flat-title"><a href="{{ post.url }}">{{ post.data.title }}</a></p>
        {% if post.data.excerpt %}
          <p class="tagslist-flat-excerpt">{{ post.data.excerpt }}</p>
        {% endif %}
        {% if post.data.tags %}
          <p class="tagslist-flat-tags">
            {% for tag in post.data.tags %}
              {%- if tag != "post" -%}
                {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
                <a href="{{ tagUrl }}" rel="tag">{{ tag }}</a>
              {%- endif -%}
            {% endfor %}
          </p>
        {% endif %}
      </div>
    </article>
    {% if not loop.last %}<hr class="tagslist-flat-divider">{% endif %}
  {% endfor %}
</section>