
<div id="text-timeline" data-pagefind-ignore>
  <div id="timeline-list">
    {% set currentYear = "" %}
    {% for post in collections.post | reverse %}
      {% set postYear = post.date.getFullYear() %}

      {% if currentYear != postYear %}
        {% if currentYear != "" %}
          </div> <!-- Close previous year -->
        {% endif %}

        <div class="year">
          <span class="post-year">{{ postYear }}</span>

        {% set currentYear = postYear %}
      {% endif %}

      <div class="text-timeline-entry">
        <div class="entry-date">
          <small>{{ post.date | shortDate }}</small>
        </div>
        <div class="entry-content">
          <a class="text-timeline-link" href="{{ post.url }}">{{post.data.title}}</a>&nbsp;
        </div>
        <div class="hidden">
          <div class="thumbnail-container">
            {% if post.data.image %}
              <a href="{{ post.url }}"><img onerror="this.style.display='none'" class="thumbnail" src="{{ post.data.image }}?nf_resize=fit&w=320" alt="{{post.data.title}}"></a>
            {% endif %}
          </div>
        </div>
      </div>

    {% endfor %}

    {% if currentYear != "" %}
      </div> <!-- Close final year -->
    {% endif %}
  </div>
</div>
