<!doctype html>
<html {% if section %}data-current="{{ section }}"{% endif %} lang="en">
  {% include "components/head.njk" %}
  <body class="{% if pageType %}{{ pageType }}{% endif %} {{ page.fileSlug }} {{ pageClasses }}" id="{{ pageClasses }}"  rel="modal:open">
    {% include "components/header.njk" %}
    <main>
      <article data-pagefind-body>

          <div class="container">
              {{ content | safe }}
          </div>

      </article>
    </main>

    {% include "components/footer.njk" %}
  </body>
</html>
