<!doctype html>
<html {% if section %}data-current="{{ section }}"{% endif %} lang="en">
  {% include "components/head.njk" %}
  <body class="{% if pageType %}{{ pageType }} {% endif %}{{ page.fileSlug }}{% if pageClasses %} {{ pageClasses }}{% endif %} {{ bodyClass }}">
    {% include "components/header.njk" %}
    <main id="main-content">
          <div class="container">
              {{ content | safe }}
          </div>
    </main>

    {% include "components/footer.njk" %}
    {% include "components/modal-search.njk" %}
    
    <!-- MicroModal for mailing list signup -->
    <div class="modal micromodal-slide micromodal-slide-up" id="modal-onetalker" aria-hidden="true">
      <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="mail-signup-container" role="dialog" aria-modal="true">
          <div class="mail-signup-border">
            {% include "components/buttondown.njk" %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
