<!doctype html>
<html {% if section %}data-current="{{ section }}"{% endif %} lang="en">
  {% include "components/head.njk" %}
  <body class="{% if pageType %}{{ pageType }}{% endif %} {{ page.fileSlug }} {{ pageClasses }}">
    {% include "components/header.njk" %}
    <main>
      <article data-pagefind-body>

          <div class="container">
              {{ content | safe }}
          </div>

      </article>
      <link rel="webmention" href="https://webmention.io/davidrhoden.com/webmention" />
      {# Get the webmentions for the current page #}
      {%- set currentPostMentions = webmentions | webmentionsForPage -%}
    </main>

    {% include "components/footer.njk" %}
  </body>
</html>
