---
layout: layouts/base.njk
section: contact
pageType: page
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

<h1>Join my mailing list</h1>
{% include "components/buttondown.njk" %}

<hr>

{% include "components/form.njk" %}


