---
layout: layouts/base.njk
section: home
pageType: page
pageClasses: home
---
{% set collectionName = "posts" %}
{% include "components/latest-post-inline.njk" %}
{% include "components/recent-posts-grid.njk" %}
<hr>
{% include "components/buttondown.njk" %}
{{ content | safe }}