---
layout: layouts/base.njk
section: home
pageType: page
pageClasses: home
---
{% set collectionName = "postsAndNotes" %}
{% include "components/latest-post-inline.njk" %}
{% include "components/recent-posts-grid.njk" %}
{{ content | safe }}
{% include "components/announcement-modal.njk" %}
{% include "components/modal-mailing-list.njk" %}