---
layout: layouts/base.njk
section: home
pageType: page
pageClasses: home
---
{% include "components/latest-post-inline.njk" %}
{% include "components/recent-posts-grid.njk" %}
{% include "components/newsletter-signup-inline.njk" %}
{{ content | safe }}