---
layout: layouts/base.njk
section: notes
---

{{ layoutContent | safe }}

<!-- note loop -->

{% for note in notes %}
<article class="flex">
  <div class="left">
    {% if note.data.image %}<img style="width: 160px;" class="thumbnail" src="/static/img/{{ note.data.image }}?nf_resize=fit&w=160">{% endif %}
  </div>
  <div>
  <h3>
    <a href="{{ note.url }}">
      {% if note.data.title %}
        {{ note.data.title }}
      {% else %}
        Untitled
      {% endif %}
    </a>
  </h3>
  {% if note.data.summary %}
    <p>
      {{ note.data.summary }}
    </p>
  {% endif %}
  <p>
    <time datetime="{{ note.date | machineDate }}">
      <small>{{ note.date | readableDate }}</small>
    </time>
  </p>
    {% if note.data.tags %}
      <p>
        {% for tag in note.data.tags %}
          {%- if tag != "note" -%}
            {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
          <a href="{{ tagUrl }}" rel="tag">{{ tag }}</a>
          {%- endif -%}
        {% endfor %}
      </p>
    {% endif %}
</div>
</article>
{% endfor %}
{% include "components/pagination.njk" %}