---
layout: layouts/base.njk
section: notes
pageClasses: notes-index
---

{% set collectionName = "notes" %}
{% include "components/latest-post-inline.njk" %}
{% include "components/recent-posts-grid.njk" %}
{% include "components/newsletter-signup-inline.njk" %}
{{ content | safe }}