---
layout: layouts/base-with-no-container.njk
pageType: page
section: page
---
<h1 class="margin-top-3em">{{ title }}</h1>

<div id="bricks">
{{ layoutContent | safe }}
</div>

<div id="caption"></div>
