---
layout: layouts/base.njk
pageType: page
section: page
---
<h1>{{ title }}</h1>

<div id="viewport">
    <button id="buttonPrevious">&#10094;</button>
    <button id="buttonNext">&#10095;</button>
    {{ content | safe }}
</div>

<div id="caption"></div>
