---
layout: layouts/base.njk
pageType: page
section: page
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

<div style=" margin: 0 auto; max-width: 900px;">

{% include "components/form.njk" %}

</div>