---
layout: layouts/base.njk
pageType: page
section: page
---
<h1>{{ title }}</h1>

<div id="viewport">
    <button id="buttonPrevious" aria-label="Previous image"><img src="/static/img/site/arrow-bold-left.svg" alt="" aria-hidden="true"></button>
    <button id="buttonNext" aria-label="Next image"><img src="/static/img/site/arrow-bold-right.svg" alt="" aria-hidden="true"></button>
    {{ content | safe }}
</div>

<div id="caption"></div>
