---
layout: layouts/base.njk
section: timeline
---

<!-- post loop -->


{% for post in posts %}
<article class="flex">
	<div class="left">
		{% if post.data.image %}<img class="thumbnail" src="{{ post.data.image }}?nf_resize=fit&w=160">{% endif %}
	</div>
	<div>
	<h3>
		<a href="{{ post.url | url }}">
			{% if post.data.title %}
				{{ post.data.title }}
			{% else %}
				Untitled
			{% endif %}
		</a>
	</h3>
	{% if post.data.summary %}
		<p>
			{{ post.data.summary }}
		</p>
	{% endif %}
	<p>
		<time datetime="{{ post.date | machineDate }}">
			<small>{{ post.date | readableDate }} by {{ metadata.author.name }}</small>
		</time>
	</p>
</div>
</article>
{% endfor %}


<!-- Pagination links -->
<div class="page-selector">
  {% if pagination.previousPageHref %}
    <a href="{{ pagination.previousPageHref }}" class="page-numbers">Back to the future.</a>
  {% else %}
    <span class="page-numbers">You've reached the present.</span>
  {% endif %}
  <span>
    Page {{ pagination.pageNumber + 1 }} of {{ pagination.links | length  }}.
  </span>
  {% if pagination.nextPageHref %}
    <a href="{{ pagination.nextPageHref }}" class="page-numbers">Forward to the past.</a>
  {% else %}
    <span class="page-numbers">You've reached the beginning.</span>
  {% endif %}
</div>
