<!doctype html>
<html {% if section %}data-current="{{ section }}"{% endif %} lang="en">
  {% include "components/head.njk" %}
  <body class="rock-page rock-vertical {{ page.fileSlug }} {{ pageClasses }}">
      {% include "components/header.njk" %}
      
      <link rel="stylesheet" href="/_includes/assets/css/band-timeline.css">
      <link rel="stylesheet" href="/_includes/assets/css/rock-vertical.css">
      
      <main id="main-content" class="rock-vertical-main">
        {# include "components/band-timeline.njk" #}
        
        <div class="rock-vertical-container">
          <div class="intro-text">
            {{ content | safe }}
          </div>
          
          {% for band in collections.bands %}
            <article id="band-{{ band.fileSlug }}" class="band-article">
              <h2 class="band-title">{{ band.data.title }}</h2>
              <div class="band-years">
                {{ band.data.startYear }}-{% if band.data.active %}present{% else %}{{ band.data.endYear }}{% endif %}
              </div>
              <div class="band-description">
                {{ band.templateContent | safe }}
              </div>
            </article>
          {% endfor %}
        </div>
      </main>
      
      {% include "components/footer.njk" %}
      {% include "components/modal-search.njk" %}
      
      {% include "components/modal-onetalker.njk" %}
  </body>
</html>
