---
layout: layouts/base.njk
pageType: timeline
section: timeline
---

{% set showYear = true %}
{% set currentYear = "" %}
</div>
{# <a href="#" style="position: fixed; top:0; right: 0; font-size: 3em; z-index: 20; background-color: rgba(140, 130, 120, .5); text-align: center; padding-top: 40vh; height: 100vh; width:100px;">+</a> #}
  <div class="container-wide">
    {% include "components/text-timeline.njk" %}
  </div>
</div>
