---
layout: layouts/base.njk
pageType: timeline
section: timeline
---

<article>
  <h1>{{ title }}</h1>
  <p>
    <small>
      <time datetime="{{ date | machineDate }}"><span id="todays-date">{{ date | readableDate }}</span></time> by {{ metadata.author.name }}. Day <span id="days"></span>.
    </small>
  </p>

  {{ layoutContent | safe }}

  {% if tags %}
    <p>
    {% for tag in tags %}
      {%- if tag != "post" -%}
        {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
        <a href="{{ tagUrl }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </p>
  {% endif %}

</article>

{% if nextPost.url %}
  <p class="ctr">
    <strong>Next</strong>: 
    <a class="next" href="{{ nextPost.url }}">{{ nextPost.data.date | readableDate }}: {{ nextPost.data.title }}</a>
  </p>
{% endif %}
{% if prevPost.url %}
  <p class="ctr">
    <strong>Previous</strong>: 
    <a class="previous" href="{{ prevPost.url }}">{{ prevPost.data.date | readableDate }}: {{ prevPost.data.title }}</a>
  </p>
{% endif %}

<nav>
  <a href="/timeline/{{ url }}">← Timeline index</a>
</nav>

</div> {# closes div "container" that was started in the base layout. #}
<div class="container-wide">
  <div class="tabs">
  <h2>
  <a class="tab-selector active" href="#tab-1">view as images</a>
  <a class="tab-selector" href="#tab-2">view as text</a>
  </h2>
    <div class="tab active" id="tab-1">
      {% include "components/photo-timeline.njk" %}
    </div>
    <div class="tab" id="tab-2">
      {% include "components/text-timeline.njk" %}
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
    var date1 = new Date("03/02/1967"); 
    var date2 = new Date($('#todays-date').text()); 
    var Difference_In_Time = date2.getTime() - date1.getTime(); 
    var Difference_In_Days = Difference_In_Time / (1000 * 3600 * 24); 
    $('#days').html(Math.floor(Difference_In_Days)); 
});
</script>
