---
layout: layouts/base.njk
pageType: timeline
section: timeline
generator: {{metadata.generator}}

---

<article data-pagefind-body>
  <h1>{{ title }}</h1>
    <p>
    <small>
      <time datetime="{{ date | machineDate }}"><span id="todays-date">{{ date | readableDate }}</span></time>. Day <span id="days"></span>.
    </small>
  </p>

  {{ content | safe }}

  {% if tags %}
    <p>
    {% for tag in tags %}
      {%- if tag != "post" -%}
        {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
        <a data-umami-event="{{ tag }}" href="{{ tagUrl }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </p>
  {% endif %}
</article>

{% if prevPost.url %}
  <p class="ctr">
    <strong>Previous</strong>:
    <a data-umami-event="{{ prevPost.data.title }}" class="previous" href="{{ prevPost.url }}">{{ prevPost.data.date | readableDate }}: {{ prevPost.data.title }}</a>
  </p>
{% endif %}
{% if nextPost.url %}
  <p class="ctr">
    <strong>Next</strong>: 
    <a data-umami-event="{{ nextPost.data.title }}" class="next" href="{{ nextPost.url }}">{{ nextPost.data.date | readableDate }}: {{ nextPost.data.title }}</a>
  </p>
{% endif %}

<nav>
  <a data-umami-event="Back to Timeline" href="/timeline/{{ url }}">← back to timeline</a>
</nav>

<script>
$(document).ready(function(){
    var date1 = new Date("03/02/1967"); 
    var date2 = new Date($('#todays-date').text()); 
    var Difference_In_Time = date2.getTime() - date1.getTime(); 
    var Difference_In_Days = Difference_In_Time / (1000 * 3600 * 24); 
    $('#days').html(Math.floor(Difference_In_Days)); 
});
</script>
