---
layout: layouts/base-with-wide-container.njk
pageType: timeline
section: timeline
---
<h1> Timeline</h1>

<p><i>This is a list of things that I did, or that happened to me, going back as far as I can piece it together.<br>
It's a very incomplete, ongoing project. Posts where I'm unsure of an actual date are marked "date approximate".</i></p>

<p><i>If you have a bigger screen, scroll down the list of things to see pictures and read more detail. <br>
Click the titles to read more about the event.</i></p>
{% set showYear = true %}
{% set currentYear = "" %}
</div>
{# <a href="#" style="position: fixed; top:0; right: 0; font-size: 3em; z-index: 20; background-color: rgba(140, 130, 120, .5); text-align: center; padding-top: 40vh; height: 100vh; width:100px;">+</a> #}
  <div class="container-wide data-pagefind-ignore">
    {% include "components/text-timeline.njk" %}
  </div>
</div>
